[Desktop Entry]
Type=Application
Name=kAppIcon
GenericName=App Icon Manager
Comment=Change, create, and map application icons
Exec=kappicon
Icon=kappicon
Terminal=false
Categories=Utility;Qt;KDE;Graphics;
Keywords=icon;desktop;theme;customize;app;
StartupNotify=true
StartupWMClass=kappicon
